<html>
	<head>
		<title>H0me 0f Pizza</title>
	</head>
	<body>
		<h1>H0me 0f Pizza</h1>
		<p>Hell0</p>
		<p><em>Pizza Pizza!</em></p><br/>
		<div>
			<strong>Calzones suck</strong>
			<h2>Here's why:</h2>
				<ul><li>They're inside out pizzas</li>
				<li>They're not a pizza</li>
				<li>They're wannabe pizzas</li>
				<li>People with no taste like them</li>
				<li>Cool people like pizza, not calzones</li>
				<li>Calzone sounds like Cali-zone, and we all know California is not the zone</li>
				</ul>
		</div>
	</body>
</html>